* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: #0D0C09;
}

.slogan {
    text-align: center;
    border: solid 1px #0D0C09;
    margin: 25px 450px;
    padding: 20px;
}

.banner_img {
    width: 100%;
}

.text {
    margin-top: 60px;
}

.text, .benefits {
    text-align: center;
    padding: 0px 50px;
}

.text_about, .benefits_title {
    margin-bottom: 40px;
}

.text_pgph {
    margin-bottom: 35px;
}

.benefits {
    margin-top: 90px;
    margin-bottom: 60px;
}

.benefits_session {
    display: inline-flex;
}

.benefits_list {
    margin-left: 230px;
}

.benefits_itens {
    text-align: left;
    margin-bottom: 20px;
}

.benefits_img {
    width: 70%;
}

.top_pdt {
    background: #8C7B65;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_img {
    width: 85%;
}

.top_list {
    display: flex;
    list-style: none;
}

.top_itens {
    margin-left: 20px;
}

.top_link {
    text-transform: uppercase;
    color: #0D0C09;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.top_link:hover {
    color: #403D30;
}

.products {
    margin: 60px;
}

.products_list {
    display: flex;
    justify-content: center;
}

.products_itens {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
    border: solid 1px #0D0C09;
    padding: 25px;
    margin: 65px 20px;
}

.products_itens:hover {
    color: #403D30;
    border: solid 1px #403D30;
    opacity: .8;
}

.products_img {
    width: 100%;
}

.products_text {
    margin-bottom: 15px;
}

.products_price {
    font-weight: 700;
    font-size: 15px;
}

.form_infos {
    margin: 50px 100px;
}

.form_camp {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.form_entry, .form_text {
    margin: 5px 0 15px 0;
    padding: 5px;
    outline: none;
    border: 1px solid #4F5951;
}

.form_radio, .form_check, .form_select {
    border: none;
    margin: 15px 0;
}

.form_radio {
    display: flex;
    flex-direction: column;
}

.form_item {
    margin: 5px;
}

.form_dot {
    margin-right: 5px;
}

.form_legend {
    margin-bottom: 15px;
}

.form_turns {
    border: #4F5951 solid 1px;
    padding: 3px;
}

.form_btn {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    width: 50%;
    padding: 10px;
    border: none;
}

.copyrigth {
    background: #8C7B65;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrigth_text {
    font-size: 12px;
}